<doctype html>
<html lang="en" dir="ltr">


<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="بلاگ ها">
	<meta name="Author" content="برنامه نویسان ادمینتو">
	<meta name="Keywords" content="قالب مدیریت ادمنتو , داشبورد مدیریتی , تم مدیریتی , قالب  html , قالب  مدیریت بوت استرپ  , طراحی قالب مدیریت , طراحی قالب ادمین">

	<!-- Title -->
	<title>بلاگ ها</title>

	<!-- Favicon -->
	<link rel="icon" href="../static/assets/img/brand/favicon.png" type="image/x-icon">

	<!-- styles code -->
	<!-- Bootstrap css -->
	<link href="../static/assets/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" id="style">

	<!-- Icons css -->
	<link href="../static/assets/css/icons.css" rel="stylesheet">

	<!-- Font css -->
	<link href="../static/assets/font/Morabba/fontiran.css" rel="stylesheet">

	<!-- Style css -->
	<link href="../static/assets/css/style.css" rel="stylesheet">
	<link href="../static/assets/css/blog.css" rel="stylesheet">

	<!-- Switcher css -->
	<link href="../static/assets/switcher/css/switcher.css" rel="stylesheet">
	<link href="../static/assets/switcher/demo.css" rel="stylesheet">

	<!-- Swiper CSS  -->
	<link rel="stylesheet" href="../static/assets/plugins/swiper/swiper-bundle.min.css">

	<!-- End styles -->

</head>

<body class="main-body app sidebar-mini rtl landing-page horizontalmenu" dir="rtl">

	<!-- Loader -->
	<div id="global-loader">
		<img src="../static/assets/img/loaders/loader-4.svg" class="loader-img" alt="Loader">
	</div>
	<!-- /Loader -->
	<!-- page -->
	<div class="page">
		<div class="page-main">
            <!-- app header code -->
            <div class="main-header side-header">
                <div class="main-container container-fluid">
                    <div class="main-header-left">
                        <a class="main-header-menu-icon" href="javascript:void(0)"
                            id="mainSidebarToggle"><span></span></a>
                        <div class="hor-logo">
                            <a class="main-logo" href="landing-page.html">
                                <img src="../static/assets/img/brand/logo-white.png" class="header-brand-img desktop-logo"
                                    alt="logo">
                                <img src="../static/assets/img/brand/logo.png" class="header-brand-img desktop-logo-dark"
                                    alt="logo">
                                </a>
                        </div>
                    </div>
                    <div class="main-header-center">
                        <div class="responsive-logo">
                            <a href="landing-page.html"><img src="../static/assets/img/brand/logo.png" class="mobile-logo"
                                    alt="logo"></a>
                            <a href="landing-page.html"><img src="../static/assets/img/brand/logo-white.png" class="mobile-logo-dark"
                                    alt="logo"></a>
                        </div>
                    </div>
                    <div class="main-header-right">
                        <button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                        </button>
                        <!-- Navresponsive closed -->
                        <div class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2 ms-auto">
                                    <!-- SEARCH -->
                                    <div class="header-nav-right p-3">
                                        <a href="login.html" class="btn ripple btn-min w-sm btn-outline-primary me-2"
                                            target="_blank">
                                            خرید اشتراک
                                        </a>
                                        <a href="login.html" class="btn ripple btn-min w-sm btn-primary me-2"
                                            target="_blank">
                                            ورود و ثبت نام
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End app header Code -->
            <!-- app sidebar Code -->

		{%include 'all_user_headr.html'%}
		{%include 'sidebar_all_user.html'%}
            <!-- End app sidebar Code -->
			
			<!-- main-content -->
			<div class="main-content mt-4 ms-0">

				<div class="side-app">
					<div class="container">
						<div class="card">
							<div class="row justify-content-center mt-5 mb-4">
								<div class="col-lg-8">
									<div class="blog-header d-flex flex-column align-items-center">
										<div class="blog-header-icon">
											<i class="fe fe-edit-3"></i>
										</div>
										<h1 class="blog-header-title mt-3 mb-2">وبلاگ</h1>
										<p class="blog-header-desc text-muted mb-4">
											در این بخش می‌توانید جدیدترین مقالات، آموزش‌ها و اخبار مرتبط 
											<br>
											با مدیریت و کسب‌وکار را مطالعه کنید. با ما همراه باشید!
										</p>
									</div>
								</div>
							</div>
						<div class="card-body">
									<!-- row -->
									<div class="row">
										<div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
											<div class="card custom-card card-img-top-1  border-0">
												<a href="/blog-details.html"><img class="card-img-top w-100 w-100  border-0" src="../static/assets/img/photos/11.jpg" alt=""></a>
												<div class="card-body pb-0">
													<a href="blog-details.html"><h4 class="card-title">10 راه برای شروع فوری فروش محصولات!</h4></a>
													<p class="my-2 text-muted">کسانی که نمی دانند چگونه دنبال می کنند یا تمایل دارند. برای مثالی بی اهمیت، درد به وجود آمد و من گزارش کاملی از سیستم به شما ارائه خواهم داد، و آموزه های واقعی کاشف بزرگ حقیقت را تشریح می کنم. master-buil .کاوشگر بزرگ حقیقت، master-buil</p>
												</div>
												<div class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top">
													<div class="main-img-user online">
														<img alt="avatar" src="../static/assets/img/users/9.jpg">
													</div>
													<div class="main-contact-body">
														<h6 class="mt-1">جیگل موسین</h6>
													</div>
													<div class="ms-auto">
														<a class="me-0 d-flex align-items-center" href="javascript:void(0);"><span class="phone text-muted d-flex tx-12"><span class="fe fe-calendar text-muted me-2 tx-14"></span> 5 ادریبهشت 1400</span></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
											<div class="card custom-card card-img-top-1  border-0">
												<a href="/blog-details.html"><img class="card-img-top w-100 w-100  border-0" src="../static/assets/img/photos/11.jpg" alt=""></a>
												<div class="card-body pb-0">
													<a href="blog-details.html"><h4 class="card-title">10 راه برای شروع فوری فروش محصولات!</h4></a>
													<p class="my-2 text-muted">کسانی که نمی دانند چگونه دنبال می کنند یا تمایل دارند. برای مثالی بی اهمیت، درد به وجود آمد و من گزارش کاملی از سیستم به شما ارائه خواهم داد، و آموزه های واقعی کاشف بزرگ حقیقت را تشریح می کنم. master-buil .کاوشگر بزرگ حقیقت، master-buil</p>
												</div>
												<div class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top">
													<div class="main-img-user online">
														<img alt="avatar" src="../static/assets/img/users/9.jpg">
													</div>
													<div class="main-contact-body">
														<h6 class="mt-1">جیگل موسین</h6>
													</div>
													<div class="ms-auto">
														<a class="me-0 d-flex align-items-center" href="javascript:void(0);"><span class="phone text-muted d-flex tx-12"><span class="fe fe-calendar text-muted me-2 tx-14"></span> 5 ادریبهشت 1400</span></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
											<div class="card custom-card card-img-top-1  border-0">
												<a href="/blog-details.html"><img class="card-img-top w-100 w-100  border-0" src="../static/assets/img/photos/11.jpg" alt=""></a>
												<div class="card-body pb-0">
													<a href="blog-details.html"><h4 class="card-title">10 راه برای شروع فوری فروش محصولات!</h4></a>
													<p class="my-2 text-muted">کسانی که نمی دانند چگونه دنبال می کنند یا تمایل دارند. برای مثالی بی اهمیت، درد به وجود آمد و من گزارش کاملی از سیستم به شما ارائه خواهم داد، و آموزه های واقعی کاشف بزرگ حقیقت را تشریح می کنم. master-buil .کاوشگر بزرگ حقیقت، master-buil</p>
												</div>
												<div class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top">
													<div class="main-img-user online">
														<img alt="avatar" src="../static/assets/img/users/9.jpg">
													</div>
													<div class="main-contact-body">
														<h6 class="mt-1">جیگل موسین</h6>
													</div>
													<div class="ms-auto">
														<a class="me-0 d-flex align-items-center" href="javascript:void(0);"><span class="phone text-muted d-flex tx-12"><span class="fe fe-calendar text-muted me-2 tx-14"></span> 5 ادریبهشت 1400</span></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
											<div class="card custom-card card-img-top-1  border-0">
												<a href="/blog-details.html"><img class="card-img-top w-100 w-100  border-0" src="../static/assets/img/photos/11.jpg" alt=""></a>
												<div class="card-body pb-0">
													<a href="blog-details.html"><h4 class="card-title">10 راه برای شروع فوری فروش محصولات!</h4></a>
													<p class="my-2 text-muted">کسانی که نمی دانند چگونه دنبال می کنند یا تمایل دارند. برای مثالی بی اهمیت، درد به وجود آمد و من گزارش کاملی از سیستم به شما ارائه خواهم داد، و آموزه های واقعی کاشف بزرگ حقیقت را تشریح می کنم. master-buil .کاوشگر بزرگ حقیقت، master-buil</p>
												</div>
												<div class="item7-card-desc d-flex p-3 pt-0 align-items-center justify-content-center border-top">
													<div class="main-img-user online">
														<img alt="avatar" src="../static/assets/img/users/9.jpg">
													</div>
													<div class="main-contact-body">
														<h6 class="mt-1">جیگل موسین</h6>
													</div>
													<div class="ms-auto">
														<a class="me-0 d-flex align-items-center" href="javascript:void(0);"><span class="phone text-muted d-flex tx-12"><span class="fe fe-calendar text-muted me-2 tx-14"></span> 5 ادریبهشت 1400</span></a>
													</div>
												</div>
											</div>
										</div>
										<div class="col-12 col-md-6 col-lg-4 col-xl-4 col-xxl-3">
										</div>
									</div>
									<!-- /row -->
									<div class="d-flex justify-content-end">
										<ul class="pagination product-pagination">
											<li class="page-item page-prev disabled">
												<a class="page-link" href="javascript:void(0);" tabindex="-1">قبل</a>
											</li>
											<li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
											<li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
											<li class="page-item page-next">
												<a class="page-link" href="javascript:void(0);">بعد</a>
											</li>
										</ul>
									</div>				
							</div>
						</div>
					</div>
				</div>


			</div>
			<!-- main-content closed -->
			<!-- Footer code -->
			<div class="demo-footer">
					<div class="container">
						<div class="row">
							<div class="card mb-0 bg-transparent">
								<div class="card-body p-0">
									<div class="top-footer">
										<div class="row">
											<div class="footer-logo">
												<img src="/../static/assets/img/brand/Logo N01.png" alt=""  >
											</div>
											<div class="col-lg-4 col-sm-12 col-md-12 reveal revealleft">
												<h6>درباره ما</h6>
												<p class="about-text-footer">
													اما تا ببینی این همه گمراهی از کجا نشات می گیرد خرسندی شاکیان
													و درد ستایش کنندگان را من همه چیز را باز می کنم و همین چیزها را از آن
													مخترع
													آنها را حقیقت و معمار یک زندگی شاد نامیدند
													توضیح خواهم داد.
												</p>
												<!-- <p class="about-text-footer mb-5 mb-lg-2">
													شک یا درد ناخوشایند در ملامت در لذت
													می خواهد یک موی درد باشد، بگذار فرار کند، هیچ کس به دنیا نمی آید، مگر
													اینکه کور شوند.
												</p> -->
											</div>
											<div class="col-lg-2 col-sm-6 col-md-3 reveal revealleft">
												<h6>ویژگی ها</h6>
												<ul class="mb-5 mb-lg-0 ps-0">
													<li><a href="index.html">داشبورد</a></li>
													<li><a href="alerts.html">عناصر</a></li>
													<li><a href="form-elements.html">تشکیل می دهد</a></li>
													<li><a href="chart-chartjs.html">نمودار</a></li>
													<li><a href="table-data.html">جداول</a></li>
													<li><a href="file-attachments.html">صفحات دیگر</a></li>
												</ul>
											</div>
											<div class="col-lg-2 col-sm-6 col-md-3 reveal revealleft">
												<h6>آشنایی با ما</h6>
												<ul class="mb-5 mb-lg-0 ps-0">
													<li><a href="about.html">تیم ما</a></li>
													<li><a href="about.html">با ما تماس بگیرید</a></li>
													<li><a href="about.html">درباره ما</a></li>
													<li><a href="settings.html">تنظیمات</a></li>
													<li><a href="blog.html">وبلاگ</a></li>
													<li><a href="terms-conditions.html">شرایط و خدمات</a></li>
												</ul>
											</div>
											<div class="enamad-logo">
												<a
												referrerPolicy="origin"
												target="_blank"
												href="https://trustseal.enamad.ir/?id=587366&Code=PNWUwnAbuGWBtqTSLDSkyJUaNA75pTfp"
												>
												<img
													referrerPolicy="origin"
													src="/../static/assets/img/enamad/enamad.png"
													alt=""
												/>
												</a>
											</div>
											<div class="col-lg-4 col-sm-12 col-md-6 reveal revealleft">
											</div>
										</div>
									</div>
									<footer class="main-footer px-0 text-center border-top mt-3 py-3">
										<div class="row ">
											<div class="col-md-12 col-sm-12">
												کپی رایت © <span id="year"></span> <a href="javascript:void(0)">Adminor</a>.
												طراحی شده با <span class="fa fa-heart text-danger"></span> توسط <a
													href="javascript:void(0)"> شناخته شده </a> تمامی حقوق محفوظ است.
											</div>
										</div>
									</footer>
								</div>
							</div>
						</div>
					</div>
			</div> 
			<!-- End Footer -->
		</div>

	</div>
	<!-- End Page -->
	<!-- scripts code -->
	<!-- Back-to-top -->
	<a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

	<!-- JQuery min js -->
	<script src="../static/assets/plugins/jquery/jquery.min.js"></script>

	<!-- Bootstrap Bundle js -->
	<script src="../static/assets/plugins/bootstrap/popper.min.js"></script>
	<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

	<!-- COUNTERS JS-->
	<script src="../static/assets/plugins/counters/counterup.min.js"></script>
	<script src="../static/assets/plugins/counters/waypoints.min.js"></script>
	<script src="../static/assets/plugins/counters/counters-1.js"></script>

	<!-- Perfect SCROLLBAR JS-->
	<script src="../static/assets/plugins/owl-carousel/owl.carousel.js"></script>
	<script src="../static/assets/landing/lib/company-slider/slider.js"></script>

	<!--- TABS JS -->
	<script src="../static/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
	<script src="../static/assets/plugins/tabs/tab-content.js"></script>

	<!-- Star Rating Js-->
	<script src="../static/assets/plugins/rating/jquery-rate-picker.js"></script>
	<script src="../static/assets/plugins/rating/rating-picker.js"></script>

	<!-- Star Rating-1 Js-->
	<script src="../static/assets/plugins/ratings-2/jquery.star-rating.js"></script>
	<script src="../static/assets/plugins/ratings-2/star-rating.js"></script>

	<!--- Perfect-scrollbar js -->
	<script src="../static/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

	<!-- SIDE-MENU JS -->
	<script src="../static/assets/landing/js/sidemenu.js"></script>

	<!-- Sticky js -->
	<script src="../static/assets/js/sticky.js"></script>

	<!--themecolor js-->
	<script src="../static/assets/js/themecolor.js"></script>

	<!-- CUSTOM JS -->
	<script src="../static/assets/landing/js/landing.js"></script>

	<!-- Switcher js -->
	<script src="../static/assets/switcher/js/switcher.js"></script>
	<!-- Swiper JS -->
	<script src="../static/assets/plugins/swiper/swiper-bundle.min.js"></script>
	<!-- End scripts -->

</body>


</html>