Werkzeug==2.3.8
Flask==2.3.3
requests==2.31.0
beautifulsoup4==4.12.3
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.49
flask-mysql-connector==1.1.0
Flask-MySQL==1.5.2
PyMySQL==1.1.0
Flask-Login==0.6.3
smsir==1.0.2
cryptography==41.0.7
jdatetime==4.1.1
