<!doctype html>
<html lang="en" dir="ltr">


<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Description" content="آیکال اپ بلاگ">
    <meta name="Author" content="برنامه نویسان ادمینتو">
    <meta name="Keywords"
        content="قالب مدیریت ادمنتو , داشبورد مدیریتی , تم مدیریتی , قالب  html , قالب  مدیریت بوت استرپ  , طراحی قالب مدیریت , طراحی قالب ادمین">

    <!-- Title -->
    <title>آیکال اپ بلاگ</title>

    <!-- Favicon -->
    <link rel="icon" href="../static/assets/img/brand/favicon.png" type="image/x-icon">

    <!-- styles code -->
    <!-- Bootstrap css -->
    <link href="../static/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" id="style">

    <!-- Style css -->
    <link href="../static/assets/css/style.css" rel="stylesheet">
    <link href="../static/assets/css/plugins.css" rel="stylesheet">

    <!-- Font css -->
    <link href="../static/assets/font/Morabba/fontiran.css" rel="stylesheet">

    <!-- Icons css -->
    <link href="../static/assets/css/icons.css" rel="stylesheet">

    <!-- Animations css -->
    <link href="../static/assets/css/animate.css" rel="stylesheet">



    <!-- Switcher css -->
    <link href="../static/assets/switcher/css/switcher.css" rel="stylesheet">
    <link href="../static/assets/switcher/demo.css" rel="stylesheet">

    <!-- End styles -->

</head>

<body class="main-body app sidebar-mini rtl landing-page horizontalmenu" dir="rtl">
    <!-- Loader -->
    <div id="global-loader">
        <img src="../static/assets/img/loaders/loader-4.svg" class="loader-img" alt="Loader">
    </div>
    <!-- /Loader -->
    <!-- page -->
    <div class="page">
        <div class="page-main">
            <!-- app header code -->
            <div class="main-header side-header">
                <div class="main-container container-fluid">
                    <div class="main-header-left">
                        <a class="main-header-menu-icon" href="javascript:void(0)"
                            id="mainSidebarToggle"><span></span></a>
                        <div class="hor-logo">
                            <a class="main-logo" href="/">
                                <img src="../static/assets/img/brand/logo-white.png" class="header-brand-img desktop-logo"
                                    alt="logo">
                                <img src="../static/assets/img/brand/logo.png" class="header-brand-img desktop-logo-dark"
                                    alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="main-header-center">
                        <div class="responsive-logo">
                            <a href="/"><img src="../static/assets/img/brand/logo.png" class="mobile-logo"
                                    alt="logo"></a>
                            <a href="/"><img src="../static/assets/img/brand/logo-white.png"
                                    class="mobile-logo-dark" alt="logo"></a>
                        </div>
                    </div>
                    <div class="main-header-right">
                        <button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                        </button>
                        <!-- Navresponsive closed -->
                        <div
                            class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                <div class="d-flex order-lg-2 ms-auto">
                                    <!-- SEARCH -->
                                    <div class="header-nav-right p-3">
                                        <a href="login.html" class="btn ripple btn-min w-sm btn-outline-primary me-2"
                                            target="_blank">
                                            خرید اشتراک
                                        </a>
                                        <a href="login.html" class="btn ripple btn-min w-sm btn-primary me-2"
                                            target="_blank">
                                            ورود و ثبت نام
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End app header Code -->
            <!-- app sidebar Code -->
            <div class="landing-top-header overflow-hidden">
                <!-- navbar -->
                <div class="top sticky">

                    <!--APP-SIDEBAR-->
                    <div class="landing-app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                    <div class="landing-app-sidebar bg-transparent">
                        <div class="container">
                            <div class="main-sidemenu navbar px-0">
                                <div class="d-flex justify-content-start align-items-center">
                                    <a class="main-logo" href="/">
                                        <div class="d-flex" style="max-width: 320px;">
                                            <!-- <img src="../static/assets/img/brand/favicon-white.png"  style="width: 110px;" class="header-brand-img desktop-logo"alt="logo"> -->
                                            <img src="../static/assets/img/brand/icon-text.png" style="width: 140px;"
                                                class="header-brand-img desktop-logo" alt="logo">
                                            <!-- <img src="../static/assets/img/brand/icon-text.png" alt=""> -->
                                        </div>
                                        <img src="../static/assets/img/brand/favicon.png"
                                            class="header-brand-img desktop-logo-dark" alt="logo">
                                    </a>
                                    <div class="slide-left disabled" id="slide-left">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                                        </svg>
                                    </div>
                                    <ul class="side-menu">
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="/">صفحه اصلی</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="/#Features">امکانات</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="/#pricinng">تعرفه ها</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="blog.html">وبلاگ</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="hamkaribama.html">همکاری باما</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="faq.html">سوالات
                                                متداول</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item " data-bs-toggle="slide" href="rules.html">قوانین
                                                و مقررات</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="about.html">درباره
                                                ما</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="tamasbama.html">ارتباط باما</a>
                                        </li>
                                    </ul>
                                    <div class="slide-right" id="slide-right">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                                        </svg>
                                    </div>
                                </div>

                                <div class="header-nav-right d-none d-lg-flex">
                                    <a href="login.html"
                                        class="btn ripple btn-min btn-secondary btn-block btn-orange-hover me-2"
                                        target="_blank">
                                        ورود و ثبت نام
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/APP-SIDEBAR-->
                </div>
                <!-- navbar -->

            </div>
            <!-- End app sidebar Code -->

            <!-- main-content -->
            <div class="main-content app-content">
                <!-- container -->
                <div class="main-container container-fluid">

                    <!-- row -->
                    <div class="row">
                        <div class="col-xxl-9 col-xl-8 col-lg-7 col-md-12">
                            <div class="card overflow-hidden">
                                <div class="item7-card-img px-4 pt-4">
                                    <a href="javascript:void(0);"></a>
                                    <img src="../static/assets/img/photos/29.jpg" alt="img" class="cover-image rounded-5 w-100">
                                </div>
                                <div class="card-body">
                                    <a href="javascript:void(0);" class="mt-4">
                                        <h3 class="font-weight-semibold text-dark">
                                            آنتی‌روح آیکال؛ پایان فالوورهای مرده، شروع رشد واقعی در اینستاگرام </h3>
                                    </a>


                                    <p>
                                        در دنیای بازاریابی اینستاگرامی، داشتن فالوور زیاد دیگر کافی نیست. آنچه اهمیت
                                        دارد، تعامل واقعی با مخاطب است. پیج‌هایی که پر از فالوورهای غیرفعال یا اصطلاحاً
                                        “روح” هستند، نه فقط رشد نمی‌کنند، بلکه توسط الگوریتم اینستاگرام هم جریمه
                                        می‌شوند. اینجاست که قابلیت آنتی‌روح آیکال وارد عمل می‌شود؛ سیستم هوشمند و
                                        انحصاری که فالوورهای مرده را شناسایی می‌کند، با آن‌ها تعامل واقعی برقرار می‌کند
                                        و پیج شما را از وضعیت سکون نجات می‌دهد.
                                    </p>

                                    <hr />

                                    <h4>آنتی‌روح یعنی چه؟</h4>
                                    <p>
                                        آنتی‌روح یک سیستم تحلیل و بازیابی تعامل در اینستاگرام است که با استفاده از
                                        الگوریتم‌های هوش مصنوعی آیکال، کاربران غیرفعال (فالوورهای روح) پیج شما را
                                        شناسایی و با آن‌ها تعامل خودکار برقرار می‌کند. این فرآیند کاملاً انسانی
                                        شبیه‌سازی شده، بدون استفاده از API، و با رعایت الگوریتم اینستاگرام انجام
                                        می‌گیرد؛ بدون ریسک بلاک یا محدودیت.
                                    </p>

                                    <hr />

                                    <h4>فرآیند آنتی‌روح چگونه کار می‌کند؟</h4>
                                    <ol>
                                        <li>
                                            <strong>دریافت دسترسی به پیج</strong><br />
                                            پس از خرید اشتراک، مشتری اطلاعات ورود به پیجش را به صورت امن در اختیار تیم
                                            آیکال قرار می‌دهد. این اطلاعات در یک پنل اختصاصی و امن نگهداری می‌شود.
                                        </li>
                                        <li>
                                            <strong>شناسایی فالوورهای غیرفعال (روح)</strong><br />
                                            آیکال بررسی می‌کند که در ۷ روز گذشته چه کسانی استوری‌های شما را ندیده‌اند،
                                            لایکی نزده‌اند، کامنتی نگذاشته‌اند یا پیام نداده‌اند. این افراد به عنوان
                                            “روح” شناسایی می‌شوند.
                                        </li>
                                        <li>
                                            <strong>تعامل انسانی با فالوورهای روح</strong><br />
                                            آیکال با استفاده از هوش مصنوعی، به‌صورت انسانی وارد پیج‌های این افراد
                                            می‌شود، استوری‌ها را لایک می‌کند، ریپلای می‌زند، پست‌ها را لایک، سیو، ویو و
                                            حتی کامنت می‌گذارد. سپس یکی از پست‌های فرد روح را دایرکت می‌کند و متن دلخواه
                                            مشتری را برایش می‌فرستد.
                                        </li>
                                    </ol>

                                    <hr />

                                    <h4>مزایای آنتی‌روح آیکال</h4>
                                    <ul>
                                        <li>✅ افزایش نرخ تعامل (Engagement Rate)</li>
                                        <li>✅ بهبود رتبه الگوریتمی پیج در اینستاگرام</li>
                                        <li>✅ جذب مجدد فالوورهای غیرفعال و فراموش‌شده</li>
                                        <li>✅ عملکرد ۱۰۰٪ انسانی، بدون API یا ربات</li>
                                        <li>✅ کاهش ریسک ریپورت و بلاک</li>
                                    </ul>

                                    <hr />

                                    <h4>تفاوت آنتی‌روح آیکال با سایر ابزارها</h4>
                                    <table border="1" cellpadding="6" cellspacing="0"
                                        style="border-collapse: collapse; direction: rtl; text-align: center;">
                                        <thead>
                                            <tr>
                                                <th>ویژگی</th>
                                                <th>آنتی‌روح آیکال</th>
                                                <th>ابزارهای رایج بازار</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>شناسایی فالوورهای روح</td>
                                                <td>✅ دقیق، هوشمند</td>
                                                <td>❌ سطحی و ناقص</td>
                                            </tr>
                                            <tr>
                                                <td>نوع تعامل</td>
                                                <td>✅ انسانی و چند مرحله‌ای</td>
                                                <td>❌ ماشینی و رباتی</td>
                                            </tr>
                                            <tr>
                                                <td>استفاده از API اینستاگرام</td>
                                                <td>❌ هرگز استفاده نمی‌شود</td>
                                                <td>⚠️ اکثراً وابسته به API</td>
                                            </tr>
                                            <tr>
                                                <td>ریسک بلاک یا جریمه</td>
                                                <td>❌ ندارد</td>
                                                <td>⚠️ بسیار بالا</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <hr />

                                    <h4>سؤالات پرتکرار درباره آنتی‌روح آیکال</h4>

                                    <ol>
                                        <li>
                                            <strong>آیا فالوورهای روح واقعاً بر رشد پیج تأثیر منفی دارند؟</strong><br />
                                            بله. فالوورهای غیرفعال نرخ تعامل شما را کاهش می‌دهند و باعث می‌شوند الگوریتم
                                            اینستاگرام محتوای شما را به کمتر کسی نمایش دهد.
                                        </li>
                                        <li>
                                            <strong>این تعاملات واقعی هستند؟</strong><br />
                                            کاملاً. تعاملات مثل ویو کردن استوری، ریپلای زدن، کامنت گذاشتن و… دقیقاً همان
                                            رفتارهایی هستند که کاربران واقعی انجام می‌دهند.
                                        </li>
                                        <li>
                                            <strong>آیا پیج من در معرض خطر قرار می‌گیرد؟</strong><br />
                                            خیر. هیچ رفتار مشکوکی انجام نمی‌شود. آیکال رفتار انسانی را شبیه‌سازی می‌کند
                                            بدون استفاده از API یا ابزارهای خطرناک.
                                        </li>
                                    </ol>

                                    <hr />

                                    <h4>کلمات کلیدی سئو (SEO Keywords):</h4>
                                    <ul>
                                        <li>آنتی روح اینستاگرام</li>
                                        <li>افزایش تعامل در اینستاگرام</li>
                                        <li>حذف فالوورهای روح</li>
                                        <li>ربات ضد روح برای اینستاگرام</li>
                                        <li>الگوریتم تعامل اینستاگرام</li>
                                        <li>هوش مصنوعی اینستاگرام</li>
                                        <li>بالا بردن نرخ اینگیجمنت</li>
                                        <li>شناسایی فالوور غیرفعال</li>
                                        <li>تعامل خودکار با فالوورها</li>
                                        <li>مدیریت هوشمند پیج اینستاگرام</li>
                                    </ul>

                                    <hr />

                                    <h4>جمع‌بندی</h4>

                                    <p>
                                        اگر احساس می‌کنید که پیج شما رشد نمی‌کند، لایک کم شده، استوری‌ها ویو نمی‌خورند و
                                        فالوورهایتان بی‌تفاوت شده‌اند، وقت آن است که آنتی‌روح آیکال را امتحان کنید. این
                                        سیستم بی‌نظیر و حرفه‌ای، با بازگرداندن فالوورهای غیرفعال به چرخه تعامل، جان
                                        دوباره‌ای به پیج شما می‌دهد — بدون ریسک و با نهایت دقت.
                                    </p>

                                    <p>🔹 با آنتی‌روح آیکال، پیجت زنده میشه.<br />
                                        🔹 تعامل دوباره، رشد دوباره، دیده شدن واقعی.
                                    </p>

                                </div>
                                <div class="card-footer pb-2 pt-2">
                                    <div class="item7-card-desc d-md-flex">
                                        <div class="d-flex align-items-center mt-0">
                                            <img src="../static/assets/img/users/12.jpg" class="avatar brround avatar-md me-3"
                                                alt="avatar-img">
                                            <div>
                                                <a href="profile.html" class="text-dark font-weight-bold">ادمین</a>
                                                <small class="d-block text-muted">1 روز پیش</small>
                                            </div>
                                        </div>
                                        <div class="ms-auto mb-2 d-flex align-items-center mt-3">
                                            <a href="javascript:void(0);" class="me-3 d-flex align-items-center"><span
                                                    class="fe fe-calendar text-muted me-2 tx-14"></span>
                                                <div class="mt-0 mt-0 text-muted tx-12">ژانویه 26-2025</div>
                                            </a>
                                            <a class="me-0 d-flex align-items-center" href="javascript:void(0);"><span
                                                    class="fe fe-message-square text-muted me-2 tx-14"></span>
                                                <div class="mt-0 mt-0 text-muted tx-12">بدون نظر</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">ویدئو</h3>
                                    </div>
                                    <div class="card-body">
                                        <div
                                            class="d-sm-flex p-3 sub-review-section border subsection-color br-tl-0 br-tr-0 rounded-bottom">
                                            <video width="100%" controls>
                                                <source src="" type="video/">
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">نظرات</h3>
                                    </div>
                                    <div class="card-body">
                                        <div
                                            class="d-sm-flex mt-0 p-3 sub-review-section border border-bottom-0 br-bl-0 br-br-0 rounded-top">
                                            <div class="d-flex me-3">
                                                <a href="javascript:void(0);"><img
                                                        class="media-object brround avatar-md" alt="64x64"
                                                        src="../static/assets/img/users/1.jpg"> </a>
                                            </div>
                                            <div class="media-body">
                                                <h5 class="mb-1 font-weight-semibold">
                                                    جوآن اسکات
                                                    <span class="tx-14 ms-0" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title=""
                                                        data-original-title="verified"><i
                                                            class="fe fe-check-circle text-success tx-12"></i></span>
                                                    <span class="tx-14 ms-2"> 4.5 <i
                                                            class="fa fa-star text-warning"></i></span>
                                                </h5>
                                                <p class="tx-13 mb-2">
                                                    مهم این است که از خود درد مراقبت کنیم، چه کسی نیست، نه شخص دیگری،
                                                    آموزش ما برای هر کاری مفید است.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="card">
                                    <div class="card-header border-bottom-0">
                                        <h3 class="card-title">یک نظر اضافه کنید</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="mt-2">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name1"
                                                    placeholder="اسم شما">
                                            </div>
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="email"
                                                    placeholder="آدرس ایمیل">
                                            </div>
                                            <div class="form-group">
                                                <textarea class="form-control" name="example-textarea-input" rows="6"
                                                    placeholder="نظر بنویسید"></textarea>
                                            </div>
                                            <a href="javascript:void(0);" class="btn btn-primary">ارسال پاسخ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-lg-5 col-md-12">
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header border-bottom">
                                    <h3 class="card-title mb-1">پست های محبوب</h3>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group mb-0">
                                        <li class="list-group-item d-flex border-0 pt-3 px-0">
                                            <img src="../static/assets/img/media/1.jpg"
                                                class="avatar rounded-5 avatar-lg me-3 my-auto" alt="avatar-img">
                                            <div class="">
                                                <span class="d-block mb-1">گاربر یابی</span>
                                                <p
                                                    class="text-default tx-12 mb-0 font-weight-semibold white-space-nowrap">
                                                    کاربریابی اینستا اینستاp>
                                                <small class="d-block text-muted mt-1">2025/24</small>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex border-0 px-0">
                                            <img src="../static/assets/img/media/2.jpg"
                                                class="avatar rounded-5 avatar-lg me-3 my-auto" alt="avatar-img">
                                            <div class="">
                                                <span class="d-block mb-1">آنتی روح</span>
                                                <p
                                                    class="text-default mb-0  tx-12 font-weight-semibold white-space-nowrap">
                                                    آنتی روح اینستا اینستاکرام</p>
                                                <small class="d-block text-muted mt-1">2025/23</small>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card custom-card overflow-hidden">
                                <div class="card-header border-bottom">
                                    <h3 class="card-title mb-1">دسته بندی ها</h3>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="tags">
                                            <a href="javascript:void(0);" class="tag rounded">سبک زندگی</a>
                                            <a href="javascript:void(0);" class="tag rounded">سلامتی</a>
                                            <a href="javascript:void(0);" class="tag rounded">گردشگرایی</a>
                                            <a href="javascript:void(0);" class="tag rounded">طراحی وب</a>
                                            <a href="javascript:void(0);" class="tag rounded">پزشکی</a>
                                            <a href="javascript:void(0);" class="tag rounded">هتل</a>
                                            <a href="javascript:void(0);" class="tag rounded">مشاور املاک</a>
                                            <a href="javascript:void(0);" class="tag rounded">کسب و کار</a>
                                            <a href="javascript:void(0);" class="tag rounded">خريد كردن</a>
                                            <a href="javascript:void(0);" class="tag rounded">بازار یابی</a>
                                            <a href="javascript:void(0);" class="tag rounded">محفظه</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Row-->


                </div>
                <!-- Container closed -->
            </div>
            <!-- main-content closed -->

        </div>

        <!-- Footer code -->
        <div class="demo-footer">
            <div class="container">
                <div class="row">
                    <div class="card mb-0 bg-transparent">
                        <div class="card-body p-0">
                            <div class="top-footer">
                                <div class="row">
                                    <div class="footer-logo">
                                        <img src="/../static/assets/img/brand/Logo N01.png" alt="">
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-md-12 reveal revealleft">
                                        <h6>درباره ما</h6>
                                        <p class="about-text-footer">
                                            اما تا ببینی این همه گمراهی از کجا نشات می گیرد خرسندی شاکیان
                                            و درد ستایش کنندگان را من همه چیز را باز می کنم و همین چیزها را از آن
                                            مخترع
                                            آنها را حقیقت و معمار یک زندگی شاد نامیدند
                                            توضیح خواهم داد.
                                        </p>
                                        <!-- <p class="about-text-footer mb-5 mb-lg-2">
													شک یا درد ناخوشایند در ملامت در لذت
													می خواهد یک موی درد باشد، بگذار فرار کند، هیچ کس به دنیا نمی آید، مگر
													اینکه کور شوند.
												</p> -->
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-md-3 reveal revealleft">
                                        <h6>ویژگی ها</h6>
                                        <ul class="mb-5 mb-lg-0 ps-0">
                                            <li><a href="index.html">داشبورد</a></li>
                                            <li><a href="alerts.html">عناصر</a></li>
                                            <li><a href="form-elements.html">تشکیل می دهد</a></li>
                                            <li><a href="chart-chartjs.html">نمودار</a></li>
                                            <li><a href="table-data.html">جداول</a></li>
                                            <li><a href="file-attachments.html">صفحات دیگر</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-md-3 reveal revealleft">
                                        <h6>آشنایی با ما</h6>
                                        <ul class="mb-5 mb-lg-0 ps-0">
                                            <li><a href="about.html">تیم ما</a></li>
                                            <li><a href="about.html">با ما تماس بگیرید</a></li>
                                            <li><a href="about.html">درباره ما</a></li>
                                            <li><a href="settings.html">تنظیمات</a></li>
                                            <li><a href="blog.html">وبلاگ</a></li>
                                            <li><a href="terms-conditions.html">شرایط و خدمات</a></li>
                                        </ul>
                                    </div>
                                    <div class="enamad-logo">
                                        <a referrerPolicy="origin" target="_blank"
                                            href="https://trustseal.enamad.ir/?id=587366&Code=PNWUwnAbuGWBtqTSLDSkyJUaNA75pTfp">
                                            <img referrerPolicy="origin" src="/../static/assets/img/enamad/enamad.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-12 col-md-6 reveal revealleft">
                                    </div>
                                </div>
                            </div>
                            <footer class="main-footer px-0 text-center border-top mt-3 py-3">
                                <div class="row ">
                                    <div class="col-md-12 col-sm-12">
                                        کپی رایت © <span id="year"></span> <a href="javascript:void(0)">Adminor</a>.
                                        طراحی شده با <span class="fa fa-heart text-danger"></span> توسط <a
                                            href="javascript:void(0)"> شناخته شده </a> تمامی حقوق محفوظ است.
                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer -->






    </div>
    <!-- End Page -->
    <!-- scripts code -->
    <!-- Back-to-top -->
    <a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>

    <!-- JQuery min js -->
    <script src="../static/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Bundle js -->
    <script src="../static/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- COUNTERS JS-->
    <script src="../static/assets/plugins/counters/counterup.min.js"></script>
    <script src="../static/assets/plugins/counters/waypoints.min.js"></script>
    <script src="../static/assets/plugins/counters/counters-1.js"></script>

    <!-- Perfect SCROLLBAR JS-->
    <script src="../static/assets/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="../static/assets/landing/lib/company-slider/slider.js"></script>

    <!--- TABS JS -->
    <script src="../static/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
    <script src="../static/assets/plugins/tabs/tab-content.js"></script>

    <!-- Star Rating Js-->
    <script src="../static/assets/plugins/rating/jquery-rate-picker.js"></script>
    <script src="../static/assets/plugins/rating/rating-picker.js"></script>

    <!-- Star Rating-1 Js-->
    <script src="../static/assets/plugins/ratings-2/jquery.star-rating.js"></script>
    <script src="../static/assets/plugins/ratings-2/star-rating.js"></script>

    <!--- Perfect-scrollbar js -->
    <script src="../static/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- SIDE-MENU JS -->
    <script src="../static/assets/landing/js/sidemenu.js"></script>

    <!-- Sticky js -->
    <script src="../static/assets/js/sticky.js"></script>

    <!--themecolor js-->
    <script src="../static/assets/js/themecolor.js"></script>

    <!-- CUSTOM JS -->
    <script src="../static/assets/landing/js/landing.js"></script>

    <!-- Switcher js -->
    <script src="../static/assets/switcher/js/switcher.js"></script>
    <!-- Swiper JS -->
    <script src="../static/assets/plugins/swiper/swiper-bundle.min.js"></script>
    <!-- End scripts -->

</body>

</html>