<!doctype html>
<html lang="en" dir="ltr">


<head>

	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="Description" content="قوانین و مقررات">
	<meta name="Author" content="قوانین و مقررات">
	<meta name="Keywords" content="قوانین و مقررات">

	<!-- Title -->
	<title>سوالات متداول</title>

	<!-- Favicon -->
	<link rel="icon" href="../static/assets/img/brand/favicon.png" type="image/x-icon">

	<!-- styles code -->
	<!-- Bootstrap css -->
	<link href="../static/assets/plugins/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" id="style">

	<!-- Icons css -->
	<link href="../static/assets/css/icons.css" rel="stylesheet">

	<!-- Font css -->
	<link href="../static/assets/font/Morabba/fontiran.css" rel="stylesheet">

	<!-- Style css -->
	<link href="../static/assets/css/style.css" rel="stylesheet">

	<!-- Switcher css -->
	<link href="../static/assets/switcher/css/switcher.css" rel="stylesheet">
	<link href="../static/assets/switcher/demo.css" rel="stylesheet">

	<!-- End styles -->

	<!-- Swiper CSS  -->
	<link rel="stylesheet" href="../static/assets/plugins/swiper/swiper-bundle.min.css">

</head>

<body class="main-body app sidebar-mini rtl landing-page horizontalmenu" dir="rtl">

	<!-- Loader -->
	<div id="global-loader">
		<img src="../static/assets/img/loaders/loader-4.svg" class="loader-img" alt="Loader">
	</div>
	<!-- /Loader -->
	<!-- PAGE -->
	<div class="page">
		<div class="page-main">
			<!-- app header code -->
			{%include 'landing/landing_header.html'%}
 
			<!-- End app sidebar Code -->
			<!--app-content open-->
			<div class="main-content app-content" style="margin-inline-start:0;">

				<!-- container -->
				<div class="main-container container-fluid">


					<div class="row justify-content-center mt-5 mb-5">
						<div class="col-lg-8">
							<div class="d-flex flex-column align-items-center text-center">
								<div class="mt-3 mb-1" style="font-size: 4rem; color: #bd9a7a;">
									<i class="icon ion-md-help-circle"></i>
								</div>
								<h1 class="mt-2 mb-3" style="font-family: 'SHABNAM', sans-serif; font-size: 2.2rem; font-weight: 600; color: #333;">سوالات متداول</h1>
								<p class="text-muted mb-0" style="font-size: 1.1rem; line-height: 1.6; max-width: 600px;">پاسخ به سوالات پرتکرار شما در مورد خدمات و امکانات پلتفرم</p>
							</div>
						</div>
					</div>

					<!-- row -->
					<div class="row justify-content-center">
						<div class="col-md-9">						
							<div class="card">
								<div class="card-header">
									<h5> <i class="icon ion-md-help-circle" style="vertical-align: middle; font-size: 20px;"></i>  سوالات متداول</h5>
								</div>
								<div class="card-body">
									<div class="text-right">
										<h5>سوالات متداول مشتریان :</h5>
									</div>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive2"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>آیا میتوانیم قبل از خرید یک اکانت تست بگیریم؟
												</a>
											</h4>
										</div>
										<div id="collapseFive2" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													بله شما میتوانید به مدت۲۴ساعت از خدمات هوش مصنوعی آیکال بهره منده شوید.تعداد تست ها در ۲۴ساعت محدود می‌باشد .جهت تست رایگان و دیدن سایر اشتراک ها کلیک کنید.
												</p>
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive3"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>آیا نیاز به نصب اپلیکشن خاص برای کار با آیکال دارم؟
												</a>
											</h4>
										</div>
										<div id="collapseFive3" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													تمامی خدمات آیکال از طریق یک پول تحت وب ارائه می‌شود و نیازی به نرم افزار یا اپلیکیشن مجزا نیست.
												</p>
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive4"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>تفاوت آیکال با ربات های معمولی اینستگرام چیست؟
												</a>
											</h4>
										</div>
										<div id="collapseFive4" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													آیکال یک ابزار هوشمند مبتنی بر هوش مصنوعی است که عملکرد آن بسیار دقیق‌تر و هدفمند تر از ربات های قدیمی است.برخلاف ربات ها آیکال رفتار انسانی را شبیه سازی میکندو نتایج بسیار بهتری در جذب مشتری دارد.
												</p>
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive5"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>اطلاعات پیج من در آیکال چقدر امن است؟
												</a>
											</h4>
										</div>
										<div id="collapseFive5" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													امنیت اطلاعات شما در آیکال بسیار جدی گرفته می‌شود و تمام داده ها رمزگذاری شده و هیچ گونه دسترسی غیر مجاز به اطلاعات شما وجود نخواهد داشت.
												</p>
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive6"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>آیا پشتیبانی فنی آیکال فعال است و چگونه می‌توان با آن تماس گرفت ؟
												</a>
											</h4>
										</div>
										<div id="collapseFive6" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													تیم پشتیبانی آیکال به صورت آنلاین و تلفنی در دسترس شماست.از طریق پنل کاربری یا صفحه تماس با ما در سایت میتوانید در هر زمان ارتباط برقرار کنید.
												</p>
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive7"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>آیکال مناسب چه کسب و کار هایی است؟
												</a>
											</h4>
										</div>
										<div id="collapseFive7" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													آیکال برای انواع کسب و کار های آنلاین ،فروشگاه ها،آموزشگاه ها،پیج های خدماتی،شخصی سازی شده مشاوران و حتی اینفلو ئنسرها کاربرد دارد.هرکسی که در اینستاگرام فعالیت تجاری دارد می‌تواند از آیکال بهره مند شود.
												</p>
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive8"
												   aria-expanded="false">
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>آیا استفاده از آیکال باعث بلاک شدن پیج اینستاگرام من می‌شود؟
												</a>
											</h4>
										</div>
										<div id="collapseFive8" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<p>
													خیر.آیکال با رعایت الگوریتم های اینستاگرام طراحی شده ‌فعالیت های آن به صورت طبیعی و ایمن انجام می‌شود تا از هرگونه بلاک یا ریپورت شدن جلوگیری شود.
												</p>
											</div>
										</div>
									</div>		

								</div>
								<div class="card-body">

									<div class="text-right">
										<h5>سوالات متداول سفیران فروش :</h5>
									</div>
									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive9"
												   aria-expanded="false">
												   <!-- soal -->
													<i class="fe fe-arrow-right me-2  d-inline-flex"></i>
													چگونه میتوانم نماینده فروش آیکال باشم؟
												</a>
											</h4>
										</div>
										<div id="collapseFive9" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<!-- matn -->
												کافیست از طریق فرم همکاری در سایت ثبت‌ نام کنید پس از بررسی اولیه با شما تماس گرفته میشود در صورت تایید همکاری آغاز میگردد
											</div>
										</div>
									</div>		
									<br>

									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive10"
												   aria-expanded="false">
												   <!-- soal -->
													<i class="fe fe-arrow-right me-2  d-inline-flex">
													</i>
													پورسانت فروش هر نماینده چقدر خواهد بود؟
												</a>
											</h4>
										</div>
										<div id="collapseFive10" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<!-- matn -->
												پورسانت به صورت درصدی از هر فروش محاسبه می شود و بسته به پلن خریداری شده و میزان فروش ماهانه میتواند افزایش یابد و 15 درصد از فروش تعلق به نماینده ها دارد.
											</div>
										</div>
									</div>		
									<br>


									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive11"
												   aria-expanded="false">
												   <!-- soal -->
													<i class="fe fe-arrow-right me-2  d-inline-flex">
													</i>
													مشتریانی که من جذب میکنم تا چه مدت به من تعلق دارد  
												</a>
											</h4>
										</div>
										<div id="collapseFive11" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<!-- matn -->
												تمام مشتریان که با کد تخفیف (کد معرف) شما ثبت‌نام میکنند به مدت مشخص (ماهانه) بسته به پلن همکاری مشتری در حساب شما ثبت می شود و هر خرید در این مدت انجام دهند شامل پورسانت شما می شود.
											</div>
										</div>
									</div>		
									<br>


									<div class="panel panel-default mb-0">
										<div class="panel-heading1  bg-primary">
											<h4 class="panel-title1">
												<a class="accordion-toggle mb-0 collapsed" data-bs-toggle="collapse"
												   data-bs-parent="#accordion11" href="#collapseFive12"
												   aria-expanded="false">
												   <!-- soal -->
													<i class="fe fe-arrow-right me-2  d-inline-flex">
													</i>
													اگر مشتری از نماینده فروش سوال فنی داشت آیا موظف به پاسخ گویی است؟
												</a>
											</h4>
										</div>
										<div id="collapseFive12" class="panel-collapse collapse" role="tabpanel"
											 aria-expanded="false">
											<div class="panel-body border">
												<!-- matn -->
												خیر شما فقط اطلاعات اولی و عمومی را در اختیار مشتری قرار میدهید در صورت وجود سوال تخصصی و فنی میتوانید مشتری را به تیم پشتیبانی ما ارجاع دهید. 
											</div>
										</div>
									</div>		
									<br>


								</div>
							</div>
						</div>
					</div>
					<!-- row closed -->


				</div>
				<!-- Container closed -->
			</div>
			<!-- main-content closed -->
		</div>

			<!-- Footer code -->
			<!-- Footer code -->
	        {%include 'landing/landing_footer.html'%}
            <!-- End Footer -->

			<!-- End Footer -->
			<!-- scripts code -->
			<!-- Back-to-top -->
			<a href="#top" id="back-to-top"><i class="las la-angle-double-up"></i></a>
			<!-- JQuery min js -->
			<script src="../static/assets/plugins/jquery/jquery.min.js"></script>
			<!-- Bootstrap Bundle js -->
			<script src="../static/assets/plugins/bootstrap/popper.min.js"></script>
			<script src="../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
			<!-- COUNTERS JS-->
			<script src="../static/assets/plugins/counters/counterup.min.js"></script>
			<script src="../static/assets/plugins/counters/waypoints.min.js"></script>
			<script src="../static/assets/plugins/counters/counters-1.js"></script>
			<!-- Perfect SCROLLBAR JS-->
			<script src="../static/assets/plugins/owl-carousel/owl.carousel.js"></script>
			<script src="../static/assets/landing/lib/company-slider/slider.js"></script>
			<!--- TABS JS -->
			<script src="../static/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>
			<script src="../static/assets/plugins/tabs/tab-content.js"></script>
			<!-- Star Rating Js-->
			<script src="../static/assets/plugins/rating/jquery-rate-picker.js"></script>
			<script src="../static/assets/plugins/rating/rating-picker.js"></script>
			<!-- Star Rating-1 Js-->
			<script src="../static/assets/plugins/ratings-2/jquery.star-rating.js"></script>
			<script src="../static/assets/plugins/ratings-2/star-rating.js"></script>
			<!--- Perfect-scrollbar js -->
			<script src="../static/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
			<!-- SIDE-MENU JS -->
			<script src="../static/assets/landing/js/sidemenu.js"></script>
			<!-- Sticky js -->
			<script src="../static/assets/js/sticky.js"></script>
			<!--themecolor js-->
			<script src="../static/assets/js/themecolor.js"></script>
			<!-- CUSTOM JS -->
			<script src="../static/assets/landing/js/landing.js"></script>
			<!-- Switcher js -->
			<script src="../static/assets/switcher/js/switcher.js"></script>
			<!-- Swiper JS -->
			<script src="../static/assets/plugins/swiper/swiper-bundle.min.js"></script>
			<!-- End scripts -->

		</div> 
		<!-- End Page -->   

</body>


</html>