 <div class="landing-top-header overflow-hidden">
                <!-- navbar -->
                <div class="top sticky">

                    <!--APP-SIDEBAR-->
                    <div class="landing-app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                    <div class="landing-app-sidebar bg-transparent">
                        <div class="container">
                            <div class="main-sidemenu navbar px-0">
                                <div class="d-flex justify-content-start align-items-center">
                                    <a class="main-logo" href="/">
                                        <div class="d-flex" style="max-width: 320px;">
                                            <img src="/../static/assets/img/brand/logo-white.png" alt="logo"
                                                style="width: 150px; height: auto;">
                                        </div>
                                        <img src="../static/assets/img/brand/favicon.png"
                                            class="header-brand-img desktop-logo-dark" alt="logo">
                                    </a>
                                    <div class="slide-left disabled" id="slide-left" onclick="location.href='/'">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z" />
                                        </svg>
                                    </div>
                                    <ul class="side-menu">
                                        <li class="slide">
                                            <a class="side-menu__item active" data-bs-toggle="slide" href="/">صفحه
                                                اصلی</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="/#Features">امکانات</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="/#pricinng">تعرفه
                                                ها</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="/landing/blog"
                                                target="_blank">وبلاگ</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="/landing/hamkaribama">همکاری
                                                باما</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="/landing/faq">سوالات
                                                متداول</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="/landing/rules">قوانین و
                                                مقررات</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide" href="/landing/about">درباره
                                                ما</a>
                                        </li>
                                        <li class="slide">
                                            <a class="side-menu__item" data-bs-toggle="slide"
                                                href="/landing/tamasbama">ارتباط با
                                                ما</a>
                                        </li>
                                        <!-- <li>
                                            <span class="me-auto">تم تیره</span>
                                            <p class="onoffswitch2 my-0">
                                                <input type="radio" name="onoffswitch1" id="myonoffswitch2" class="onoffswitch2-checkbox">
                                                <label for="myonoffswitch2" class="onoffswitch2-label"></label>
                                            </p>
                                        </li>
                                        <li>
                                            <span class="me-auto">تم روشن</span>
                                            <p class="onoffswitch2 my-0">
                                                <input type="radio" name="onoffswitch1" id="myonoffswitch1" class="onoffswitch2-checkbox" checked>
                                                <label for="myonoffswitch1" class="onoffswitch2-label"></label>
                                            </p>            
                                        </li> -->
                                    </ul>
                                    <div class="slide-right" id="slide-right">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z" />
                                        </svg>
                                    </div>
                                </div>

                                <!-- old log in -->
                                <!-- <div class="header-nav-right d-none d-lg-flex">
                                    
                                    <a href="/login"
                                        class="btn ripple btn-min btn-secondary btn-block btn-orange-hover me-2"
                                        target="_blank">
                                        ورود و ثبت نام
                                    </a>
                                </div> -->
                                <!-- new -->
                                 <div class="header-nav-right d-none d-lg-flex">
                                    {% if current_user.is_authenticated %}
                                        <a href="/redirect"
                                        class="btn ripple btn-min btn-secondary btn-block btn-orange-hover me-2">
                                            داشبورد
                                        </a>
                                    {% else %}
                                        <a href="/login"
                                        class="btn ripple btn-min btn-secondary btn-block btn-orange-hover me-2"
                                        target="_blank">
                                            ورود و ثبت نام
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/APP-SIDEBAR-->
                </div>