            <!-- Footer code -->
            <div class="demo-footer">
                <div class="container">
                    <div class="row">
                        <div class="card mb-0 bg-transparent">
                            <div class="card-body p-0">
                                <div class="top-footer">
                                    <div class="row justify-content-between align-items-center flex-wrap mb-4">
                                        <div class="col-12 d-flex justify-content-center justify-content-lg-start flex-wrap gap-4">
                                            <a href="/">
                                                <img src="../static/assets/img/brand/Logo N01.png" alt="aykal" style="height: 70px;" />
                                            </a>
                                            <a href="https://eastp.ir/">
                                                <img src="../static/assets/img/brand/park.png" alt="پارک" style="height: 70px;" />
                                            </a>
                                            <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=616910&Code=5ksvXDaaMTkMkaZqjN3TMHWkwdco0ium'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=616910&Code=5ksvXDaaMTkMkaZqjN3TMHWkwdco0ium' alt='' style='cursor:pointer' code='5ksvXDaaMTkMkaZqjN3TMHWkwdco0ium'></a>                                            </div>
                                    </div>
                                    <div class="row">
                                        <!-- لوگوها -->

                                        <div class="col-lg-4 col-sm-12 col-md-12 reveal revealleft">
											<h6>درباره آیکال</h6>
											<p class="about-text-footer">
												آیکال، سیستم نوآورانه هوش مصنوعی، با هدف توانمندسازی کسب‌وکارها، پژوهشگران و افراد خلاق طراحی شده است. ما با تلفیق دانش روز و فناوری‌های پیشرفته، مسیر تازه‌ای برای تعامل هوشمند، تحلیل داده و تصمیم‌گیری فراهم کرده‌ایم
											</p>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-md-3 reveal revealleft">
                                            <h6>ویژگی ها</h6>
                                            <ul class="mb-5 mb-lg-0 ps-0">
                                                <li><a href="/blog/blog-details/9">کاربریابی</a></li>
                                                <li><a href="/blog/blog-details/12">ارسال انبوه</a></li>
                                                <li><a href="/blog/blog-details/10">تعامل کار خودکار</a></li>
                                                <li><a href="/blog/blog-details/11">آنتی روح</a></li>
                                                <li><a href="/landing/blog">دایرکت هوشمند</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-md-3 reveal revealleft">
                                            <h6>آشنایی با ما</h6>
                                            <ul class="mb-5 mb-lg-0 ps-0">
                                                <li><a href="/landing/about">تیم ما</a></li>
                                                <li><a href="/landing/tamasbama">با ما تماس بگیرید</a></li>
                                                <li><a href="/landing/about">درباره ما</a></li>
                                                <li><a href="/landing/blog">وبلاگ</a></li>
                                                <li><a href="/landing/rules">شرایط و خدمات</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-4 col-sm-12 col-md-6 reveal revealleft">
                                        </div>
                                    </div>
                                </div>
                                <footer class="main-footer px-0 text-center border-top mt-3 py-3">
                                    <div class="row ">
                                        <div class="col-md-12 col-sm-12">
                                            کپی رایت © <span id="year"></span> <a
                                                href="https://www.instagram.com/marsagencyir/">mars agency</a>.
                                            طراحی شده با <span class="fa fa-heart text-danger"></span>  <a
                                                href="https://www.instagram.com/marsagencyir/"> </a> تمامی
                                            حقوق محفوظ است.
                                        </div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer -->
